<!DOCTYPE html>
<html>
  <head>
    <title>Image with Fixed Dimensions</title>
  </head>
  <body>
    <h1>Image with Fixed Dimensions</h1>
    <div
        style="display: flex; justify-content: center; align-items: center; height: 200px; width: 300px; background-color: #eee"
    >
      <img
        src="https://cms-assets.tutsplus.com/cdn-cgi/image/width=850/uploads/users/107/posts/26488/final_image/41-space-scrolling-background850-2.jpg"
        alt="Image"
        style="object-fit: contain; max-height: 200px; max-width: 300px"
      />
    </div>
  </body>
</html>
