
#sidebar-width{
    width: 250px;
    height:40em;
}
.nav-link:hover{
    background-color:#525252 !important;
}

.nav-link .fa{
    transition:all 1s;
}

.nav-link:hover .fa{
    transform:rotate(360deg);
}

#feeds-position{
    position: absolute;
    margin-left: 250px;
    top: 10vh;
}

@media only screen and (max-width: 768px) {
    #sidebar-width{
        width: 25%;
    }
    
}