
#sidebar-width{
    width: 250px;
    height:52em;
    
}
.nav-link:hover{
    background-color:#525252 !important;
}

.nav-link .fa{
    transition:all 1s;
}

.nav-link:hover .fa{
    transform:rotate(360deg);
}

#feeds-position{
    position: absolute;
    margin-left: 250px;
    top: 10vh;
}

/* set the width of the navbar according to size */
@media only screen and (max-width: 768px) {
    #sidebar-width{
        width: 30%;
    } 
}

@media only screen and (max-width: 426px) {
    #sidebar-width{
        display: none;
    } 
    #feeds-position{
        margin-left: 0.5%;
        width: 100%;
        top: 33vh;
    } 
}


@media only screen and (min-width:426px) and (max-width: 2565px) {
    .basenav{
        display: none;
    } 
}
    
