@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body {
    background-color: #fafafa;
    letter-spacing: -0.3px;
    font-family:open Helvetica, Arial, sans-serif;
  }

